* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.App {
  border: 2px solid blue;
  min-height: 100vh;
  background-color: rgb(170, 172, 172);
}

.App-header {
  border: 2px solid red;
  display: flex;
  align-items: center;
  width: 100%;
  height: 15vh;
  padding: 0 3rem;
  position: absolute;
}

.App-nav {
  display: flex;
  width: 100%;
}

.App-content-menu {
  border: 2px solid aqua;
  padding-left: 3rem;
  /* width: 100%; */
}

.App-content-menu li {
  display: inline;
  margin-right: 2rem;
}

.App-section-hero {
  border: 2px solid greenyellow;
  height: 70vh;

}

.App-content-hero {
  display: flex;
  height: 100%;
}

.App-content-hero-img {
  border: 5px solid black;
  min-width: 60%;
  height: 100%;
}

.App-content-hero-text {
  border: 5px solid rgb(197, 25, 25);
  min-width: 40%;
  height: 100%;
  padding: 6rem 3rem;
}

.App-section-about {
  border: 2px solid brown;
  display: flex;
  width: 100%;
  height: 30vh;
}
.App-content-about {
  display: flex;
  width: 100%;
  height: 100%;
}
.App-content-about-img-left {
  border: 2px solid salmon;
  width: 20%;
  height: 100%;
}

.App-content-about-text {
  border: 2px solid rgb(52, 156, 61);
  width: 60%;
  height: 100%;
  padding: 4rem 2rem;
}

.App-content-about-img-right {
  border: 2px solid rgb(200, 198, 59);
  width: 20%;
  height: 100%;
}

