* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}
a {
  text-decoration: none;
}

:root {
  --Dark-Gray: hsl(0, 0%, 63%);
  --Black: hsl(0, 0%, 0%);
  --White: hsl(0, 0%, 100%);
  --Very-Dark-Gray: hsl(0, 0%, 27%);
}
.App {
  min-height: 100vh;
  background-color: hsl(0, 0%, 100%);
  font-size: 12px;
  font-family: 'Spartan', sans-serif;
  overflow: hidden;
}

.App-header {
  color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  width: 100%;
  height: 15vh;
  padding: 0 3rem;
  position: absolute;
  z-index: 1000;
}

.App-header a {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
}

.App-header .App-logo {
  font-size: 1.3rem;
  font-weight: 600;
}
.App-nav {
  display: flex;
  width: 100%;
}

.App-content-menu {
  padding-left: 3rem;
}

.App-content-menu li {
  display: inline;
  margin-right: 2rem;
  padding-bottom: .5rem;
  position: relative;
}

.App-content-menu li::after {
  content: "";
  border-bottom: 2px solid white ;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease-in-out .3s;
  transform: scaleX(0);
}
.App-content-menu li:hover::after {
  border-bottom: 2px solid white ;
  opacity: 1;
  transform: scaleX(1.0);
}

.App-section-hero {
  height: 70vh;
  position: relative;
}

.App-content-hero-inline {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  
}

.App-content-hero-inline.active {
  z-index: 100;
}

.App-content-hero-inline.inactive {
  z-index: 0;
}



.App-content-hero-img {
  width: 60%;
  height: 100%;
  transition: all ease-in-out .3s;
  position: absolute;
}

.App-content-hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.App-content-hero-text {
  width: 40%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  right: 0;
}

.content-hero-text {
  height: 100%;
  padding: 6rem 3rem;
  transition: all ease-in-out .3s;
  position: relative;
  z-index: 100;
}
.overflow {
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;

}

.App-content-about-text p, .App-content-hero-text p  {
  color: var(--Dark-Gray);
  line-height: 1.8;
  font-weight: 600;
}

.content-shop-now {
  display: flex;
  cursor: pointer;
  margin-top: 1.5rem;
}

.content-shop-now:hover {
  color: var(--Dark-Gray);
}

.shop-now {
  display: block;
  letter-spacing: 6px;
}

.icon-shop-now {
  padding-left: 2.2rem;
}
.title-hero-text, .title-about-text {
  color: var(--Black);
  margin-bottom: 2vh;
  font-weight: 600;
}
.title-hero-text {
  font-size: calc(2vw + 1em);
}

.title-about-text {
  font-size: calc(1vw + .5em);
}

.App-section-about {
  display: flex;
  width: 100%;
  height: 30vh;
}
.App-content-about {
  display: flex;
  width: 100%;
  height: 100%;
}
.App-content-about-img-left {
  width: 30%;
  height: 100%;
}
.App-content-about-img-left img, .App-content-about-img-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.App-content-about-text {
  width: 40%;
  height: 100%;
  padding: 3rem 2rem;
}

.App-content-about-img-right {
  width: 30%;
  height: 100%;
}

.parent-content-button {
  position: absolute;
  z-index: 100;
  width: 40%;
  right: 0;
  bottom: 0;
}

.content-action-button {
  bottom: 0;
  z-index: 100;
}

.action-button-left, .action-button-right {
  border: none;
  background-color: black;
  cursor: pointer;
  padding: 1.5rem;
}

.action-button-left:hover , .action-button-right:hover {
  background-color: var(--Very-Dark-Gray);

}

.App-content-hero {
  display: flex;
  height: 100%;
  transition: all ease-in-out .5s;
}

.App-content-hero-inline {
  transition: all ease-in-out .3s;
  opacity: 1;
}

.App-content-hero-inline.inactive {
  opacity: 0;
}

.App-content-hero-inline.active {
  opacity: 1;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  .App-section-hero {
    height: 100vh;
  }

  .App-content-hero-inline {
    display: block;
    position: relative;
  }
  .App-content-hero-img {
    width: auto;
    height: 50vh;
  }

  .App-content-hero-text {
    width: auto;
    height: 50vh;
    position: absolute;
    top: 50vh;
  }

  .parent-content-button {
    width: auto;
  }

  .App-section-about {
    height: auto;
  }

  .App-content-about {
    display: block;
  }

  .App-content-about-img-left, .App-content-about-img-right, .App-content-about-text {
    width: auto;
  }

  .overflow {
    display: none;
  }
}
