* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --Dark-Gray: hsl(0, 0%, 63%);
  --Black: hsl(0, 0%, 0%);
  --White: hsl(0, 0%, 100%);
  --Very-Dark-Gray: hsl(0, 0%, 27%);
}
.App {
  border: 2px solid blue;
  min-height: 100vh;
  background-color: hsl(0, 0%, 100%);
  font-size: 12px;
  /* overflow: hidden; */
}

.App-header {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  width: 100%;
  height: 15vh;
  padding: 0 3rem;
  position: absolute;
  z-index: 1000;
}

.App-nav {
  display: flex;
  width: 100%;
}

.App-content-menu {
  border: 2px solid aqua;
  padding-left: 3rem;
  /* width: 100%; */
}

.App-content-menu li {
  display: inline;
  margin-right: 2rem;
}

.App-section-hero {
  border: 2px solid greenyellow;
  height: 70vh;
  position: relative;
}

.App-content-hero-inline {
  /* border: 5px solid gold; */
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
}



.App-content-hero-img {
  /* border: 5px solid black; */
  min-width: 60%;
  height: 100%;
  transition: all ease-in-out .3s;
}

.App-content-hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.App-content-hero-text {
  /* border: 5px solid rgb(197, 25, 25); */
  background-color: hsl(0, 0%, 100%);
  min-width: 40%;
  height: 100%;
  padding: 6rem 3rem;
  position: relative;
  /* z-index: 10; */
  opacity: 0;
}
.App-content-about-text p, .App-content-hero-text p  {
  color: var(--Dark-Gray);
  line-height: 1.7;
}

.title-hero-text, .title-about-text {
  color: var(--Black);
  margin-bottom: 2vh;
}
.title-hero-text {
  font-size: calc(2vw + 1em);
}

.title-about-text {
  font-size: calc(1vw + .5em);
}

.App-section-about {
  border: 2px solid brown;
  display: flex;
  width: 100%;
  height: 30vh;
}
.App-content-about {
  display: flex;
  width: 100%;
  height: 100%;
}
.App-content-about-img-left {
  border: 2px solid salmon;
  width: 30%;
  height: 100%;
}

.App-content-about-text {
  border: 2px solid rgb(52, 156, 61);
  width: 40%;
  height: 100%;
  padding: 3rem 2rem;
}

.App-content-about-img-right {
  border: 2px solid rgb(200, 198, 59);
  width: 30%;
  height: 100%;
}

.content-action-button {
  border: 2px solid teal;
  position: absolute;
  bottom: 0;
  right: 30%;
  z-index: 100;
}

.App-content-hero {
  display: flex;
  height: 100%;
  /* opacity: 0; */
  transition: all ease-in-out .5s;

}

/* .App-section-hero > .App-content-hero-inline {
  margin-top: 400px;
}
.App-content-hero-inline:first-child {
  margin-top: 0px;
} */
.App-content-hero-inline {
  transition: all ease-in-out .3s;
  opacity: 1;
}

.App-content-hero-inline.inactive {
  opacity: 0;
  /* transform: translateX(100%); */
}
/* .content-hero-text {
  position: relative;
  z-index: 1000;
  transform: translateX(100%) translateX(96px);
  transition: all ease-in-out .5s;
  opacity: 0;
}
.App-content-hero-img {
  transform: translateX(100%);
  transition: all ease-in-out .5s;
  opacity: 1;
}
.App-content-hero-img.active {
  transform: translateX(0%);
  opacity: 1;
}

.content-hero-text.active {
  transform: translateX(0%);
  opacity: 1;
} */

.App-content-hero-inline.active {
  opacity: 1;
  /* animation: room .5s ease-in-out */
  /* transform: translateX(0); */
  /* margin-left: 0px; */
}

@keyframes room {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
